body {
    background-image: url("images/background-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;
    border: none;
}

.card {
    opacity: 0.75;
}

.card:hover {
    opacity: 1;
}